@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    margin: 0;
    padding: 0;
}

.uneGrandeBoite {
    display: flex;
   
}

.petiteBoite {
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction : column;
    justify-content: space-around;
    align-items : center;
}

.mer {
    background-image: url('images/paysage2.jpg');
    flex: 1;
    transition: flex-basis 2s ease-in-out;
    transition: width 2s b;
    
    
           
}

.mer:hover{
    flex-basis: 40em;

}




.etoiles {
    background-image: url('images/paysage5.jpg');
    transition: flex-basis 2s ease-in-out
}

.etoiles:hover{
    flex-basis: 40em;

}



.prairie {
    background-image: url('images/paysage4.jpg');
    transition: flex-basis 2s ease-in-out
}

.prairie:hover{
    flex-basis: 40em;

}





.ville {
    background-image: url('images/paysage1.jpg');
    transition: flex-basis 2s ease-in-out
}

.ville:hover{
    flex-basis: 40em;

}




.lesMonts {
    background-image: url('images/paysage3.jpg');
    transition: flex-basis 2s ease-in-out
}

.lesMonts:hover{
    flex-basis: 40em;

}


p {
    color: white;
    font-weight: bolder;
    text-transform: uppercase; 
    font-size: 2.2em;
    font-family: 'Zen Dots', cursive;
    
}

.rond{

    height: 60px;
    width: 60px;
    background-color: black;
    opacity: 60%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 2s, width 2s;

}

.rond:hover{

    cursor: pointer;

    height: 80px;
    width: 80px;
    opacity: 70%;
}



.monh3{

    color: white;
      
}

.topWord{

    transform: translateY(-200px);
    transition: transform 2s;
    
}


.petiteBoite:hover > .topWord{


    transform: translateY(0px);
}

.botWord{

    transform: translateY(200px);
    transition: transform 2s;
    

}

.petiteBoite:hover > .botWord{

    transform: translateY(0px);
}

@media only screen and (max-width:920px){


    @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    margin: 0;
    padding: 0;
}

.uneGrandeBoite {
    display: flex;
   flex-direction: column;
   
}

.petiteBoite {
    
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction : column;
    overflow: hidden;
    justify-content: space-around;
    align-items : center;
    transition: height 2s;
}


.mer {
    background-image: url('images/paysage2.jpg');
    height: 100vh;
}

.mer:hover{
    height: 105vh;

}




.etoiles {
    background-image: url('images/paysage5.jpg');
    
    height: 100vh
}

.etoiles:hover{
    height: 105vh;

}



.prairie {
    background-image: url('images/paysage4.jpg');
    height: 100vh
}

.prairie:hover{
    height: 105vh;

}





.ville {
    background-image: url('images/paysage1.jpg');
    height: 100vh
}

.ville:hover{
    height: 105vh;

}




.lesMonts {
    background-image: url('images/paysage3.jpg');
    height: 100vh
}

.lesMonts:hover{
    height: 105vh;

}


p {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase; 
    font-size: 2.2em;
    font-family: 'Zen Dots', cursive;
    
}

.rond{

    height: 135px;
    width: 135px;
    background-color: black;
    opacity: 50%;
    border-radius: 50px;
    border-bottom: 15px;
    padding: 1px 7px 1px 7px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: height 1s, width 1s ;
    box-shadow: 5px 9px 6px rgb(27, 27, 27) ,0 7px 0 rgb(128, 128, 128);

}

.rond:hover{

    cursor: pointer;


    height: 150px;
    width: 150px;
    opacity: 70%;
}

.rond:active{

    box-shadow: 2px 5px 2px rgb(22, 22, 22) ,0px 7px 0 rgb(5, 5, 5);


}



.monh3{
    color: rgb(255, 255, 255);
      
}

.topWord{
    transform: translateX(-400px);
    transition: transform 1s;
    
}


.petiteBoite:hover > .topWord{


    transform: translateX(0px);
}

.botWord{
    transform: translateX(400px);
    transition: transform 1s;
    

}

.petiteBoite:hover > .botWord{

    transform: translateX(0px);
}






    
}
