.ble {
    height: 100vh;
    position: relative;
}

.ble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/ble.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(90%);
    z-index:-1;
}

.surfbar {
    height: 20%;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    align-items: center;
}

.texte {
    height: 80%;
}

.lienNav {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.premiertexte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.premiertexte>h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    justify-content: space-evenly;
}

.bordure{

    border: 2px solid #4BCAFF;



}
.service{

    background-color: #4BCAFF;

}

.minitrucs{

    color: white;
    font-weight: bolder;
}

.grandeBoite{

    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-fluid1{

    height: 100vh;
    
}

.surfbar2{
    height: 25%;
    background-color: rgba(255, 255, 255, 0.459);
    display: flex;
    align-items: center;
}



.portfo{

    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.critere{

    height: 30vh;
    width: 15vw ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo1{
    background-image: url(portfolio/1.png);


}

.photo2{
    background-image: url(portfolio/2.png);
}

.photo3{
    background-image: url(portfolio/3.png);
}

.photo4{
    background-image: url(portfolio/4.png);
}

.photo5{
    background-image: url(portfolio/5.png);
}

.photo6{
    background-image: url(portfolio/6.png);
}

.photo7{
    background-image: url(portfolio/7.png);

}

.photo8{
    background-image: url(portfolio/8.png);
}
